* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#two-columns {
    display: flex;
}

#sidebar-content {
    background-color: blue;
    flex: 1;
}

#main-content {
    background-color: gold;
    flex: 1;
}

#two-columns-2 {
    display: flex;
}

#sidebar-content-2 {
    flex: 1;
    background-color: rgb(174, 9, 9);
    padding: 18px
     /* can use the command order: __(insert number) to swap the order of columns */
}

#main-content-2 {
    background-color: ghostwhite;
    flex: 3;
}

#sidebar-content-2 h2 {
    background-color: rgb(222, 3, 3);
    margin: 0px;
    padding: 12px;
    color: aliceblue;
    font-size: 16px;
}

#sidebar-content-2 ul {
    background-color: #efefef;
    margin: 0px;
    padding: 0px 12px;
    list-style-type: none;
    border: solid red;
    /* The other option for this is to just put all you links in a div as opposed to
    a ul and adjust there to avoid all this work, but this is the industry standard. */
}

#sidebar-content-2 a {
    color:rgb(6, 204, 204);
    text-decoration: none;
}

#sidebar-content-2 li {
   padding: 8px 0px;
   border-bottom: 1px solid crimson;
}

/* psuedo-class to get rid of the last bottom border in the list */
#sidebar-content-2 li:last-child {
    border-bottom: 0px;
 }

#single-column {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
   
}

 
