* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}
.val {
    width: 80%;
    max-width: 800px;
    background-color: crimson;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 15%;
    margin-bottom: 20px;
        
}

img {
    width: 100%;
}

h1 {
    font-family: cursive;
}