* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-column {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    
}

.light-container {
    background-color: lightblue;
    padding: 48px 0px;
    color: black;
}

.dark-container {
    background-color: darkred;
    padding: 48px 0px;
    color: white;
    vertical-align:middle

}