* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#single-column {
    width: 90vw;
    max-width: 900px;
    margin: 0px auto;

}

.card {
    border: 36px solid crimson;
    margin: 30px 0px;
    padding: 48px;
    text-align: center;
    box-shadow: gray 10px 10px 10px;
}

.card h3 {
    border-bottom: 3px black solid;
    border-top: 3px black solid;
    border-radius: 10px;
    font-size: 30px;
    margin: 20px
}

.card p {
    font-size: 28px;
    color: rgb(182, 61, 61);
    margin-bottom: 50px;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

#card-container {
    display: flex;
    gap: 35px;
}

#button {
    font-size: 24px;
    color: rgb(235, 82, 82);
    margin: 24px 0px 0px;
    border: solid;
    border-radius: 15px;
    border-width: 4px;
    border-style: inset;
    background-color: rgb(0, 0, 0);
}

a {
    background-color: crimson;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 24px;
    border: 6px red inset;
    
}