* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

#container {
    background-color: rgb(0, 0, 0);
    width: 500px;
    min-height: 100vh;
    font-size: 0px;
}

.block {
    background-color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    display: inline-block;
}

.red {
    background-color: rgb(255, 17, 17);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.blue {
    background-color: rgb(44, 145, 253);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.green {
    background-color: rgb(34, 255, 34);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.yellow {
    background-color: rgb(255, 225, 55);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.purple {
    background-color: rgb(167, 12, 167);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.orange {
    background-color: rgb(253, 162, 52);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.white {
    background-color: snow;
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}

.sienna {
    background-color: rgb(171, 81, 39);
    border-radius: 20px;
    border-color: rgb(185, 178, 178);
    border-style: ridge;
    border-width: 15px;
}